$bps: (
  'xl': 1500px,
  'lg': 1200px,
  'md': 992px,
  'sm': 768px,
  'xs': 576px,
  'xxs': 360px,
);

.u-fcc {
  display: flex;
  align-items: center;
  justify-content: center;
}

.u-fcsb {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.u-fcsa {
  display: flex;
  align-items: center;
  justify-content: space-around;
}

.u-f {
  display: flex;
}

.u-ai-b {
  align-items: baseline;
}

.u-ai-c {
  align-items: center;
}

.u-ai-fs {
  align-items: flex-start;
}

.u-ai-fe {
  align-items: flex-end;
}

.u-ai-s {
  align-items: stretch;
}

.u-jc-b {
  justify-content: baseline;
}

.u-jc-c {
  justify-content: center;
}

.u-jc-fs {
  justify-content: flex-start;
}

.u-jc-fe {
  justify-content: flex-end;
}

.u-jc-sa {
  justify-content: space-around;
}

.u-jc-sb {
  justify-content: space-between;
}

.u-jc-s {
  justify-content: stretch;
}

.u-ai-unset {
  align-items: unset;
}

.u-jc-unset {
  justify-content: unset;
}

.u-ai-jc-unset {
  align-items: unset;
  justify-content: unset;
}

.u-f-g-0 {
  flex-grow: 0;
}

.u-f-g-1 {
  flex-grow: 1;
}

@each $bpKey, $bpVal in $bps {
  @media screen and (max-width: $bpVal) {
    .u-fcc-#{$bpKey} {
      display: flex;
      align-items: center;
      justify-content: center;
    }

    .u-fcsb-#{$bpKey} {
      display: flex;
      align-items: center;
      justify-content: space-between;
    }

    .u-fcsa-#{$bpKey} {
      display: flex;
      align-items: center;
      justify-content: space-around;
    }

    .u-f-#{$bpKey} {
      display: flex;
    }

    .u-ai-b-#{$bpKey} {
      align-items: baseline;
    }

    .u-ai-c-#{$bpKey} {
      align-items: center;
    }

    .u-ai-fs-#{$bpKey} {
      align-items: flex-start;
    }

    .u-ai-fe-#{$bpKey} {
      align-items: flex-end;
    }

    .u-ai-s-#{$bpKey} {
      align-items: stretch;
    }

    .u-jc-b-#{$bpKey} {
      justify-content: baseline;
    }

    .u-jc-c-#{$bpKey} {
      justify-content: center;
    }

    .u-jc-fs-#{$bpKey} {
      justify-content: flex-start;
    }

    .u-jc-fe-#{$bpKey} {
      justify-content: flex-end;
    }

    .u-jc-sa-#{$bpKey} {
      justify-content: space-around;
    }

    .u-jc-sb-#{$bpKey} {
      justify-content: space-between;
    }

    .u-jc-s-#{$bpKey} {
      justify-content: stretch;
    }

    .u-ai-unset-#{$bpKey} {
      align-items: unset;
    }

    .u-jc-unset-#{$bpKey} {
      justify-content: unset;
    }

    .u-ai-jc-unset-#{$bpKey} {
      align-items: unset;
      justify-content: unset;
    }

    .u-f-g-0-#{$bpKey} {
      flex-grow: 0;
    }

    .u-f-g-1-#{$bpKey} {
      flex-grow: 1;
    }
  }
}
